body {
  font-family: system-ui;
}

.container {
  width: 500px;
  margin: auto;
  text-align: center;
}

textarea {
  width: 500px;
  border-radius: 8px;
}

#digit_counter {
  position: absolute;
  bottom: 757px;
  right: 436px;
}

.chat-message .limit{
  border: 2px red solid;
}
